In [138]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

train = pd.read_csv('train.csv')
test =  pd.read_csv('test.csv')
origin_train = pd.read_csv('train.csv')
orifin_test =  pd.read_csv('test.csv')

# Feature engineering

## fill null data

In [140]:
train[train.isna().sum(axis=1) > 0]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
6,6,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,42.0,20.2,190,NaN,9.13362,-25.09368,4250
8,8,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,34.1,18.1,193,NaN,NaN,NaN,3475
18,18,Adelie Penguin (Pygoscelis adeliae),Dream,No,39.8,19.1,184,MALE,NaN,NaN,4650
70,70,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,46.2,14.4,214,NaN,8.24253,-26.81540,4650
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700

* Species와 Flipper Length (mm)를 이용한 결측값 채우기

In [141]:
train.groupby(['Species','Sex'])['Flipper Length (mm)'].mean().reset_index()

                                     Species     Sex  Flipper Length (mm)
0        Adelie Penguin (Pygoscelis adeliae)  FEMALE           187.166667
1        Adelie Penguin (Pygoscelis adeliae)    MALE           191.619048
2  Chinstrap penguin (Pygoscelis antarctica)  FEMALE           192.642857
3  Chinstrap penguin (Pygoscelis antarctica)    MALE           200.454545
4          Gentoo penguin (Pygoscelis papua)  FEMALE           213.217391
5          Gentoo penguin (Pygoscelis papua)    MALE           223.000000

In [142]:
train.loc[6,'Sex']='MALE'
train.loc[8,'Sex']='MALE'
train.loc[70,'Sex']='FEMALE'

In [143]:
test[test.isna().sum(axis=1) > 0]
test.iloc[[46,81,205,209],[7]] = "FEMALE"
test.iloc[[98,152],[7]]= "MALE"

In [144]:
train.loc[:,'Delta 15 N (o/oo)'] = train['Delta 15 N (o/oo)'].fillna(train['Delta 15 N (o/oo)'].median())
train.loc[:,'Delta 13 C (o/oo)'] = train['Delta 13 C (o/oo)'].fillna(train['Delta 13 C (o/oo)'].median())
test.loc[:,'Delta 15 N (o/oo)'] = test['Delta 15 N (o/oo)'].fillna(train['Delta 15 N (o/oo)'].median())
test.loc[:,'Delta 13 C (o/oo)'] = test['Delta 13 C (o/oo)'].fillna(train['Delta 13 C (o/oo)'].median())

## 보완 : 섬 별 중앙값으로 대체

In [145]:
train.isnull().sum()

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
Body Mass (g)          0
dtype: int64

In [146]:
test.isnull().sum()

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
dtype: int64

In [147]:
# train.head()

In [21]:
# test.head()

## One-hot encoding & drop columns
* get dummies 적용 
* 열 제거  

train -> tr -> tr1    
test  -> te -> tr2

### train

In [148]:
train_target = train['Body Mass (g)']
train = train.drop(['id','Clutch Completion'], axis=1)

In [149]:
tr = pd.get_dummies(train)
tr= tr.drop('Body Mass (g)', axis=1)

In [150]:
tr1 = tr
tr1 = tr1.drop(['Delta 15 N (o/oo)','Delta 13 C (o/oo)'], axis=1)

In [151]:
tr.head()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo),Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen,Sex_FEMALE,Sex_MALE
0,50.0,15.3,220,8.30515,-25.19017,0,0,1,1,0,0,0,1
1,49.5,19.0,200,9.63074,-24.34684,0,1,0,0,1,0,0,1
2,45.1,14.4,210,8.51951,-27.01854,0,0,1,1,0,0,1,0
3,44.5,14.7,214,8.20106,-26.16524,0,0,1,1,0,0,1,0
4,49.6,16.0,225,8.38324,-26.84272,0,0,1,1,0,0,0,1

In [152]:
tr1.head()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Species_Adelie Penguin (Pygoscelis adeliae),Species_Chinstrap penguin (Pygoscelis antarctica),Species_Gentoo penguin (Pygoscelis papua),Island_Biscoe,Island_Dream,Island_Torgersen,Sex_FEMALE,Sex_MALE
0,50.0,15.3,220,0,0,1,1,0,0,0,1
1,49.5,19.0,200,0,1,0,0,1,0,0,1
2,45.1,14.4,210,0,0,1,1,0,0,1,0
3,44.5,14.7,214,0,0,1,1,0,0,1,0
4,49.6,16.0,225,0,0,1,1,0,0,0,1

### test

In [153]:
test = test.drop('Clutch Completion', axis=1)
te = pd.get_dummies(test)
te = te.drop('id', axis=1)

In [154]:
te1 = te
te1 = te1.drop(['Delta 15 N (o/oo)','Delta 13 C (o/oo)'], axis=1)

In [155]:
print(tr1.columns == te1.columns)

[ True  True  True  True  True  True  True  True  True  True  True]

* tr1  
Culmen Length (mm)  
Culmen Depth (mm)  
Flipper Length (mm)  
Species_Adelie Penguin (Pygoscelis adeliae)  
Species_Chinstrap penguin (Pygoscelis antarctica)  
Species_Gentoo penguin (Pygoscelis papua)  
Island_Biscoe  
Island_Dream  
Island_Torgersen  
Sex_FEMALE  
Sex_MALE  



* te1  
Culmen Length (mm)  
Culmen Depth (mm)  
Flipper Length (mm)  
Species_Adelie Penguin (Pygoscelis adeliae)  
Species_Chinstrap penguin (Pygoscelis antarctica)  
Species_Gentoo penguin (Pygoscelis papua)  
Island_Biscoe  
Island_Dream  
Island_Torgersen  
Sex_FEMALE  
Sex_MALE

# Building machine learning model

## tr, tr1 비교 (Delta 15 N (o/oo)','Delta 13 C (o/oo))

tr

In [181]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(tr, train_target, test_size=0.2)

In [182]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

In [183]:
score_List=[]

In [184]:
model = KNeighborsRegressor(n_neighbors=5).fit(x_train, y_train)
score_List.append(f'KNeighborsRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = LinearRegression().fit(x_train, y_train)
score_List.append(f'LinearRegression: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = Ridge().fit(x_train, y_train)
score_List.append(f'Ridge: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = Lasso().fit(x_train, y_train)
score_List.append(f'Lasso: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = DecisionTreeRegressor().fit(x_train, y_train)
score_List.append(f'DecisionTreeRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = RandomForestRegressor().fit(x_train, y_train)
score_List.append(f'RandomForestRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = GradientBoostingRegressor().fit(x_train, y_train)
score_List.append(f'GradientBoostingRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = XGBRegressor().fit(x_train, y_train)
score_List.append(f'XGBRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

In [185]:
[print(i) for i in score_List] ## tr

KNeighborsRegressor: train_score: 0.8573760883619139, val_score: 0.7008541720443986
LinearRegression: train_score: 0.8862219901172544, val_score: 0.7775310026270543
Ridge: train_score: 0.8837141459189756, val_score: 0.7873009280279999
Lasso: train_score: 0.8860880063299281, val_score: 0.7787916972398908
DecisionTreeRegressor: train_score: 1.0, val_score: 0.6099194953536397
RandomForestRegressor: train_score: 0.975926725303878, val_score: 0.7410069255775684
GradientBoostingRegressor: train_score: 0.9925516106088064, val_score: 0.7073978015518756
XGBRegressor: train_score: 0.9999999991802989, val_score: 0.7781108565032508

[None, None, None, None, None, None, None, None]

tr1

In [186]:
x_train, x_test, y_train, y_test = train_test_split(tr1, train_target, test_size=0.2)
score_List=[]

model = KNeighborsRegressor(n_neighbors=5).fit(x_train, y_train)
score_List.append(f'KNeighborsRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = LinearRegression().fit(x_train, y_train)
score_List.append(f'LinearRegression: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = Ridge().fit(x_train, y_train)
score_List.append(f'Ridge: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = Lasso().fit(x_train, y_train)
score_List.append(f'Lasso: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = DecisionTreeRegressor().fit(x_train, y_train)
score_List.append(f'DecisionTreeRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = RandomForestRegressor().fit(x_train, y_train)
score_List.append(f'RandomForestRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = GradientBoostingRegressor().fit(x_train, y_train)
score_List.append(f'GradientBoostingRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

model = XGBRegressor().fit(x_train, y_train)
score_List.append(f'XGBRegressor: train_score: {model.score(x_train, y_train)}, val_score: {model.score(x_test, y_test)}')

In [188]:
[print(i) for i in score_List]  ## tr1

KNeighborsRegressor: train_score: 0.8606618657705781, val_score: 0.7033902602184509
LinearRegression: train_score: 0.8683535655536297, val_score: 0.8266789863966657
Ridge: train_score: 0.8658979717913979, val_score: 0.8215931599426212
Lasso: train_score: 0.8682475460581078, val_score: 0.8247290209383109
DecisionTreeRegressor: train_score: 1.0, val_score: 0.7577028371625002
RandomForestRegressor: train_score: 0.9713450918830374, val_score: 0.8135288824772752
GradientBoostingRegressor: train_score: 0.9847981167784456, val_score: 0.7938716596625204
XGBRegressor: train_score: 0.9999998942244084, val_score: 0.7777642530619426

[None, None, None, None, None, None, None, None]

* tr로 모델링 진행

## tr 모델링

### 릿지 회귀 (정규화 x)

In [210]:
from sklearn.linear_model import Ridge

In [211]:
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr,train_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 0.1}

In [214]:
from sklearn.model_selection import cross_validate
rid = Ridge(alpha=0.1)
scores = cross_validate(rid,tr,train_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.00797868, 0.01097083, 0.00498462, 0.00695014, 0.00399017]),
 'score_time': array([0.00299191, 0.00498748, 0.00299263, 0.0039885 , 0.00398803]),
 'test_score': array([-232.27568338, -320.48455606, -267.20891913, -206.85580832,
        -260.75805154])}

#### 결과

In [215]:
np.mean(scores['test_score'])*(-1)

257.516603685495

### 릿지 회귀 (정규화 o)

In [216]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(include_bias=False)
poly.fit(tr)
tr_poly = poly.transform(tr)
te_poly =  poly.transform(te)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(tr_poly)
train_scaled = ss.transform(tr_poly)
test_scaled = ss.transform(te_poly)

In [217]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(train_scaled,train_target)
print(ridge.score(train_scaled,train_target))

0.8843329819225794

In [218]:
# # 파라미터 튜닝 방법 1
# train_score = []
# test_score = []
# # alpha_list = [0.001,0.01,0.1,10,100]
# # for alpha in alpha_list : 
# #     ridge = Ridge(alpha=alpha)
# #     ridge.fit(train_scaled,train_target)
    
# # train_score.append(ridge.score(train_scaled,train_target))

In [219]:
# 파라미터 튜닝 방법 2
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(train_scaled,train_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 100}

In [224]:
from sklearn.model_selection import cross_validate
rid_ss = Ridge(alpha=100)
scores = cross_validate(rid_ss,train_scaled,train_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.0029943 , 0.0029943 , 0.00398684, 0.00299144, 0.00299811]),
 'score_time': array([0.00199413, 0.00099659, 0.00100756, 0.        , 0.00099564]),
 'test_score': array([-248.16868677, -288.8785433 , -255.72104278, -148.10280045,
        -258.07419479])}

#### 결과

In [225]:
np.mean(scores['test_score'])*(-1)

239.78905361807628

#### 제출

In [226]:
submission = pd.read_csv('sample_submission.csv')

In [228]:
rid_ss.fit(tr,train_target)

pre = rid_ss.predict(te)
submission['Body Mass (g)'] = pre
submission.to_csv('4_submission.csv', index=False)

### xgb (정규화 x)

In [61]:
import xgboost as xgb
from xgboost import XGBRegressor, plot_tree, plot_importance
from sklearn.model_selection import cross_validate

In [204]:
from sklearn.model_selection import GridSearchCV
reg_cv = XGBRegressor()
xgb_params = {'max_depth' : [3,4, 5, 6],
              'n_estimators' : [10, 20, 50, 100, 500,1000],
              'learning_rate' : [0.1, 0.2, 0.4, 0.6, 0.8, 1]}
grid = GridSearchCV(estimator = reg_cv, param_grid = xgb_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr, train_target)
best_param = grid.best_params_
print(best_param)

{'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 20}

In [206]:
reg = XGBRegressor(max_depth = 3, n_estimators = 20, learning_rate = 0.2 )
scores = cross_validate(reg,tr, train_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.04387879, 0.04587722, 0.05285454, 0.04587626, 0.04587817]),
 'score_time': array([0.01196957, 0.01296782, 0.01396298, 0.01396346, 0.01396322]),
 'test_score': array([-241.39672852, -262.33987559, -298.51287576, -199.44950535,
        -309.11304821])}

#### 결과

In [207]:
np.mean(scores['test_score'])*(-1)

262.1624066861722

#### 제출

In [208]:
reg.fit(tr,train_target)
pre = reg.predict(te)

In [209]:
submission = pd.read_csv('sample_submission.csv') # submission 파일 불러오기
submission['Body Mass (g)'] = pre
submission.to_csv('second_submission.csv', index=False)

### xgb (정규화 O)

In [229]:
reg_cv = XGBRegressor()
xgb_params = {'max_depth' : [3,4, 5, 6],
              'n_estimators' : [10, 20, 50, 100, 500,1000],
              'learning_rate' : [0.1, 0.2, 0.4, 0.6, 0.8, 1]}
grid = GridSearchCV(estimator = reg_cv, param_grid = xgb_params, scoring = 'neg_mean_absolute_error')

grid.fit(train_scaled,train_target)
best_param = grid.best_params_
print(best_param)

{'learning_rate': 0.2, 'max_depth': 6, 'n_estimators': 50}

In [231]:
reg = XGBRegressor(max_depth = 6, n_estimators = 50, learning_rate = 0.2 )
scores = cross_validate(reg,train_scaled, train_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.18945956, 0.1396246 , 0.13962603, 0.15259027, 0.14959788]),
 'score_time': array([0.01097131, 0.00797606, 0.00897765, 0.00997448, 0.01097155]),
 'test_score': array([-243.81082286, -304.71299677, -283.96509851, -198.28843623,
        -309.89559659])}

#### 결과

In [232]:
np.mean(scores['test_score'])*(-1)

268.13459019114373

#  (By group) Building machine learning model¶

## 그룹별 변수 제작

In [195]:
tr_2 = train[train['Island'] == 'Biscoe']
te_2 = test[test['Island'] == 'Biscoe']
print(tr_2['Species'].unique()==te_2['Species'].unique())
tr_3 = train[train['Island'] == 'Dream']
te_3 = test[test['Island'] == 'Dream']
print(tr_3['Species'].unique()==te_3['Species'].unique())
tr_4 = train[train['Island'] == 'Torgersen']
te_4 = test[test['Island'] == 'Torgersen']
print(tr_4['Species'].unique()==te_4['Species'].unique())

[ True  True]
[ True  True]
[ True]

In [196]:
# 그룹별 train set 제작
tr_Biscoe = train[train['Island'] == "Biscoe"]
tr_Biscoe = tr_Biscoe.drop('Island', axis=1)
tr_Biscoe = pd.get_dummies(tr_Biscoe)

tr_Dream = train[train['Island'] == "Dream"]
tr_Dream = tr_Dream.drop('Island', axis=1)
tr_Dream = pd.get_dummies(tr_Dream)

tr_Torgersen = train[train['Island'] == "Torgersen"]
tr_Torgersen = tr_Torgersen.drop('Island', axis=1)
tr_Torgersen = pd.get_dummies(tr_Torgersen)

In [197]:
# 그룹별 test set 제작
te_Biscoe = test[test['Island'] == "Biscoe"]
te_Biscoe = te_Biscoe.drop('Island', axis=1)
te_Biscoe = pd.get_dummies(te_Biscoe)

te_Dream = test[test['Island'] == "Dream"]
te_Dream = te_Dream.drop('Island', axis=1)
te_Dream = pd.get_dummies(te_Dream)

te_Torgersen = test[test['Island'] == "Torgersen"]
te_Torgersen = te_Torgersen.drop('Island', axis=1)
te_Torgersen = pd.get_dummies(te_Torgersen)

In [198]:
tr_Biscoe.head()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g),Species_Adelie Penguin (Pygoscelis adeliae),Species_Gentoo penguin (Pygoscelis papua),Sex_FEMALE,Sex_MALE
0,50.0,15.3,220,8.30515,-25.19017,5550,0,1,0,1
2,45.1,14.4,210,8.51951,-27.01854,4400,0,1,1,0
3,44.5,14.7,214,8.20106,-26.16524,4850,0,1,1,0
4,49.6,16.0,225,8.38324,-26.84272,5700,0,1,0,1
5,51.1,16.5,225,8.20660,-26.36863,5250,0,1,0,1

In [199]:
te_Biscoe.head()

,id,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo),Species_Adelie Penguin (Pygoscelis adeliae),Species_Gentoo penguin (Pygoscelis papua),Sex_FEMALE,Sex_MALE
1,1,55.9,17.0,228.0,8.31180,-26.35425,0,1,0,1
4,4,37.9,18.6,172.0,8.38404,-25.19837,1,0,1,0
6,6,44.0,13.6,208.0,8.01979,-26.68311,0,1,1,0
7,7,48.4,14.6,213.0,7.82080,-25.48025,0,1,0,1
8,8,47.2,13.7,214.0,7.99184,-26.20538,0,1,1,0

In [200]:
trB_target = tr_Biscoe['Body Mass (g)']
tr_Biscoe = tr_Biscoe.drop('Body Mass (g)', axis=1)

trD_target = tr_Dream['Body Mass (g)']
tr_Dream = tr_Dream.drop('Body Mass (g)', axis=1)

trT_target = tr_Torgersen['Body Mass (g)']
tr_Torgersen = tr_Torgersen.drop('Body Mass (g)', axis=1)

In [201]:
Biscoe_id = te_Biscoe['id']
Dream_id = te_Dream['id']
Torgerson_id = te_Torgersen['id']
te_Biscoe = te_Biscoe.drop('id', axis=1)
te_Dream = te_Dream.drop('id', axis=1)
te_Torgersen = te_Torgersen.drop('id', axis=1)

In [202]:
# trD_target

## 그룹별 적합

### XGB (정규화 X)

#### BISCOE

In [233]:
from sklearn.model_selection import GridSearchCV
reg_cv = XGBRegressor()
xgb_params = {'max_depth' : [3,4, 5, 6],
              'n_estimators' : [10, 20, 50, 100, 500,1000],
              'learning_rate' : [0.1, 0.2, 0.4, 0.6, 0.8, 1]}
grid = GridSearchCV(estimator = reg_cv, param_grid = xgb_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr_Biscoe, trB_target)
best_param = grid.best_params_
print(best_param)

{'learning_rate': 0.6, 'max_depth': 3, 'n_estimators': 10}

In [234]:
reg_B = XGBRegressor(max_depth = 3, n_estimators = 10, learning_rate = 0.6 )
scores = cross_validate(reg,tr_Biscoe, trB_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.04886293, 0.04687262, 0.0428853 , 0.04388261, 0.04388213]),
 'score_time': array([0.01595807, 0.01296544, 0.01296926, 0.01296425, 0.01296401]),
 'test_score': array([-185.24153646, -304.80941495, -326.62051669, -256.95525568,
        -334.16184304])}

In [235]:
np.mean(scores['test_score'])*(-1)

281.5577133641099

#### DREAM

In [290]:
from sklearn.model_selection import GridSearchCV
reg_cv = XGBRegressor()
xgb_params = {'max_depth' : [3,4, 5, 6],
              'n_estimators' : [10, 20, 50, 100, 500,1000],
              'learning_rate' : [0.1, 0.2, 0.4, 0.6, 0.8, 1]}
grid = GridSearchCV(estimator = reg_cv, param_grid = xgb_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr_Dream, trD_target)
best_param = grid.best_params_
print(best_param)

{'learning_rate': 0.2, 'max_depth': 5, 'n_estimators': 20}

In [292]:
reg_D = XGBRegressor(max_depth = 5, n_estimators = 20, learning_rate = 0.2 )
scores = cross_validate(reg,tr_Dream, trD_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.12167406, 0.04587746, 0.04388189, 0.06981444, 0.05385184]),
 'score_time': array([0.01396322, 0.01396322, 0.014961  , 0.01495934, 0.01894999]),
 'test_score': array([-333.55981445, -419.5089247 , -198.38300239, -331.92092556,
        -317.40377808])}

In [293]:
np.mean(scores['test_score'])*(-1)

320.15528903537324

#### Torgersen

In [294]:
from sklearn.model_selection import GridSearchCV
reg_cv = XGBRegressor()
xgb_params = {'max_depth' : [3,4, 5, 6],
              'n_estimators' : [10, 20, 50, 100, 500,1000],
              'learning_rate' : [0.1, 0.2, 0.4, 0.6, 0.8, 1]}
grid = GridSearchCV(estimator = reg_cv, param_grid = xgb_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr_Torgersen, trT_target)
best_param = grid.best_params_
print(best_param)

{'learning_rate': 0.4, 'max_depth': 3, 'n_estimators': 10}

In [295]:
reg_T = XGBRegressor(max_depth = 3, n_estimators = 10, learning_rate = 0.4)
scores = cross_validate(reg,tr_Torgersen, trT_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.0638473 , 0.04388022, 0.04188681, 0.03690195, 0.0398922 ]),
 'score_time': array([0.01195145, 0.01296496, 0.0129683 , 0.01096916, 0.01196861]),
 'test_score': array([-177.41194661,  -24.35437012, -648.82092285, -186.93701172,
        -285.953125  ])}

In [296]:
np.mean(scores['test_score'])*(-1)

264.6954752604167

#### 결과

In [392]:
(264.6954752604167+320.15528903537324+281.5577133641099)/3

288.8028258866333

### 릿지 (정규화 X)

#### BISCOE

In [87]:
# SS 없음
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr_Biscoe, trB_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 0.1}

In [89]:
from sklearn.model_selection import cross_validate
rid = Ridge(alpha=0.1)
scores = cross_validate(rid,tr_Biscoe, trB_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.00698161, 0.00594997, 0.00499558, 0.00797868, 0.00595355]),
 'score_time': array([0.00498676, 0.00399089, 0.00498152, 0.00398993, 0.00299191]),
 'test_score': array([-208.67169126, -207.57415388, -225.40062062, -308.7993753 ,
        -259.9591879 ])}

In [90]:
np.mean(scores['test_score'])*(-1)

242.08100579082657

#### DREAM

In [93]:
# SS 없음
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr_Dream, trD_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 10}

In [94]:
from sklearn.model_selection import cross_validate
rid = Ridge(alpha=10)
scores = cross_validate(rid,tr_Dream, trD_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.00698876, 0.00498581, 0.00399423, 0.00498796, 0.00701356]),
 'score_time': array([0.00398135, 0.00402474, 0.00298882, 0.0049839 , 0.00598335]),
 'test_score': array([-292.29798099, -421.06633987, -257.91983353, -212.93316976,
        -297.44876671])}

In [95]:
np.mean(scores['test_score'])*(-1)

296.3332181720584

#### Torgersen

In [142]:
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(tr_Torgersen, trT_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 10}

In [126]:
from sklearn.model_selection import cross_validate
rid = Ridge(alpha=10)
scores = cross_validate(rid,tr_Torgersen, trT_target,scoring='neg_mean_absolute_error')
scores
### 편차 너무 큼 ,,,

{'fit_time': array([0.00698471, 0.00499892, 0.0039866 , 0.00598311, 0.00698304]),
 'score_time': array([0.00498343, 0.00298285, 0.00199747, 0.00299144, 0.00498509]),
 'test_score': array([-349.35969608, -177.03007843, -403.47383428,  -27.89972   ,
        -155.1285502 ])}

In [127]:
np.mean(scores['test_score'])*(-1)

222.57837579817934

#### 결과

In [99]:
(57*242.08100579082657 +45*296.3332181720584 +12*222.57837579817934)/114

261.44344436313946

### 릿지 (정규화 O)

#### BISCOE

In [235]:
## SS 있음
poly = PolynomialFeatures(include_bias=False)
poly.fit(tr_Biscoe)
trB_poly = poly.transform(tr_Biscoe)
teB_poly =  poly.transform(te_Biscoe)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(trB_poly)
trB_scaled = ss.transform(trB_poly)
teB_scaled = ss.transform(teB_poly)

In [135]:
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(train_scaled, trB_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 100}

In [237]:
from sklearn.model_selection import cross_validate
rid_B = Ridge(alpha=100)
scores = cross_validate(rid_B,trB_scaled, trB_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.00199485, 0.00299287, 0.00199342, 0.00199413, 0.00199533]),
 'score_time': array([0.00100112, 0.00099635, 0.00099754, 0.00100827, 0.00099659]),
 'test_score': array([-246.52182155, -189.52494831, -250.30585005, -267.72309111,
        -219.28817284])}

In [137]:
np.mean(scores['test_score'])*(-1)

234.67277677344754

#### DREAM

In [238]:
## SS 있음
poly = PolynomialFeatures(include_bias=False)
poly.fit(tr_Biscoe)
trD_poly = poly.transform(tr_Dream)
teD_poly =  poly.transform(te_Dream)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(trD_poly)
trD_scaled = ss.transform(trD_poly)
teD_scaled = ss.transform(teD_poly)

In [139]:
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(train_scaled, trD_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 100}

In [239]:
from sklearn.model_selection import cross_validate
rid_D = Ridge(alpha=100)
scores = cross_validate(rid_D,trD_scaled, trD_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.00195932, 0.00299144, 0.00199413, 0.00299287, 0.00199366]),
 'score_time': array([0.00100064, 0.00099611, 0.        , 0.00100017, 0.00099707]),
 'test_score': array([-245.8475108 , -390.70116946, -180.62834552, -198.44080825,
        -282.86714165])}

In [240]:
np.mean(scores['test_score'])*(-1)

259.6969951364831

#### Torgersen

In [241]:
## SS 있음
poly = PolynomialFeatures(include_bias=False)
poly.fit(tr_Torgersen)
trT_poly = poly.transform(tr_Torgersen)
teT_poly =  poly.transform(te_Torgersen)

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(trT_poly)
trT_scaled = ss.transform(trT_poly)
teT_scaled = ss.transform(teT_poly)

In [144]:
from sklearn.model_selection import GridSearchCV
ridge = Ridge()
ridge_params = {'alpha' :  [0.001,0.01,0.1,10,100]}
grid = GridSearchCV(estimator = ridge, param_grid = ridge_params, scoring = 'neg_mean_absolute_error')

grid.fit(train_scaled, trT_target)
best_param = grid.best_params_
print(best_param)

{'alpha': 10}

In [242]:
from sklearn.model_selection import cross_validate
rid_T = Ridge(alpha=10)
scores = cross_validate(rid_T,trT_scaled, trT_target,scoring='neg_mean_absolute_error')
scores

{'fit_time': array([0.00199556, 0.00202274, 0.00299048, 0.0019927 , 0.00199652]),
 'score_time': array([0.        , 0.00097084, 0.00099969, 0.00099659, 0.        ]),
 'test_score': array([-416.49674162, -225.97112364, -367.52783249,  -56.03387402,
        -129.01199032])}

In [243]:
np.mean(scores['test_score'])*(-1)

239.0083124191561

#### 결과

In [230]:
(57*234.67277677344754 +45*259.6969951364831 +12*239.0083124191561)/114

245.00712987945718

#### 제출

In [252]:
rid_T.fit(trT_scaled, trT_target)
rid_D.fit(trD_scaled, trD_target)
rid_B.fit(trB_scaled,trB_target)

Ridge(alpha=100)

In [284]:
pre1=rid_T.predict(teT_scaled)
pre2=rid_D.predict(teD_scaled)
pre3=rid_B.predict(teB_scaled)

In [285]:
pre1 = pd.concat([pd.DataFrame(Torgerson_id).reset_index(drop=True),pd.DataFrame(pre1)],axis = 1,ignore_index=True)
pre2 = pd.concat([pd.DataFrame(Dream_id).reset_index(drop=True),pd.DataFrame(pre2)],axis = 1,ignore_index=True)
pre3 = pd.concat([pd.DataFrame(Biscoe_id).reset_index(drop=True),pd.DataFrame(pre3)],axis = 1,ignore_index=True)

In [288]:
pre = pd.concat([pre1,pre2,pre3])

In [290]:
pre.columns = ['id','Body Mass (g)']

In [291]:
pre.sort_values(by='id',axis=0,inplace=True)

In [293]:
pre = pre.drop('id', axis=1)

In [294]:
submission['Body Mass (g)'] = np.array(pre['Body Mass (g)'])
submission.to_csv('submission5.csv', index=False)